@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css */
html, body {
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    color: #fff; /* Set default text color if needed */
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  
  