@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css */
/* Ensure background color is applied to the entire toast */
/* Ensure background color is applied to the entire toast */
html, body {
  background-color: #0F0F0F;
  margin: 0;
  padding: 0;
  color: #fff; /* Set default text color if needed */
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

/* Ensure toast container styles */
.custom-toast-container {
  background-color: #282828 !important; /* Ensure background color is applied */
  border-radius: 8px;
  padding: 16px;
  max-width: 1000;
width: 100%; /* Let the width be determined by content */
  height: auto; /* Adjust height automatically based on content */
  display: flex; /* Ensure the toast is flexible with content */
  align-items: center; /* Center content vertically */
  position: relative;}

/* Adjust the width of the custom toast message */


.custom-toast-body {
  color: white; /* Ensure text color is applied */
}
